<html>
  <body style="font-family: Arial, sans-serif; color: #333; padding: 20px">
    <p>Greetings,</p>
    <p>
      {{senders_name}} has invited you to register for <strong>{{app_name}}</strong>. To complete your registration,
      please head on to
      <a href="{{registration_url}}" target="_blank" style="color: #1a73e8; text-decoration: none">this Link</a>. The
      Link is only valid for the next {{link_expiry_in}}.
    </p>
    <p>Regards,</p>
    <p>The <strong>{{app_name}}</strong> Team</p>
  </body>
</html>
