.fade-enter {
  opacity: 0;
  transform: translateY(-100%);
}
.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
}
.fade-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 500ms, transform 500ms;
}

@keyframes rotateAndChangeColor {
  from {
    transform: rotate(0deg);
    color: black;
  }
  to {
    transform: rotate(-180deg);
    color: yellow;
  }
}

@keyframes reverseRotateAndChangeColor {
  from {
    transform: rotate(-180deg);
    color: yellow;
  }
  to {
    transform: rotate(0deg);
    color: black;
  }
}

.animated-theme-mode-icon {
  animation: rotateAndChangeColor 1.5s forwards;
}

.reverse-animated-theme-mode-icon {
  animation: reverseRotateAndChangeColor 1.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    display: none;
  }
  to {
    opacity: 1;
    display: inline;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    display: inline;
  }
  to {
    opacity: 0;
    display: none;
  }
}

@keyframes oscillateAndGlow {
  0% {
    transform: rotate(-2deg);
    box-shadow: 0 0 50px var(--glow-color);
  }
  25% {
    transform: rotate(0deg);
    box-shadow: 0 0 100px var(--glow-color);
  }
  50% {
    transform: rotate(2deg);
    box-shadow: 0 0 50px var(--glow-color);
  }
  75% {
    transform: rotate(0deg);
    box-shadow: 0 0 100px var(--glow-color);
  }
  100% {
    transform: rotate(-2deg);
    box-shadow: 0 0 50px var(--glow-color);
  }
}

.glow-light-mode {
  --glow-color: #00e6e6;
}

.glow-dark-mode {
  --glow-color: #FF4500;
}

@keyframes sunRise {
  0% {
    box-shadow: 0 0 0px var(--glow-color);
  }
  100% {
    box-shadow: 0 0 100px var(--glow-color);
  }
}
